@import prefixes
@import colors
@import basics
abbr
    border-bottom 1px dotted darken(HNBlue, 85%)
    &:hover
        cursor help
table
    border-collapse collapse
    thead
        th
            color darken(HNBlue, 85%)
            background HNBlue
            padding 4px 10px
            border-bottom 1px solid darken(@background, 40%)
    tr
        background #f6f6f6
        td
            border-bottom 1px solid darken(@background, 20%)
        &:nth-child(2n)
            background lighten(HNBlue, 90%)
            td
                border-bottom 1px solid darken(@background, 20%)
    td
        &.group
            padding-left 10px
        &.spark
            width 300px
            height 30px
            position relative
            padding 0px
            line-height 0px
            svg
                position relative
                z-index 1
                path
                    stroke darken(HNBlue, 30%)
                    stroke-width 1px
                    fill none
            .year
                z-index 2
                position absolute
                top 0px
                border-right 1px dotted darken(#f6f6f6, 20%)
                &:hover
                    background rgba(0, 0, 0, 0.1)
                    cursor help
                div
                    background darken(HNBlue, 35%)
                    position absolute
                    width 100%
                    left 0px
                    bottom 0px
table.svg
    td .year div
        display none
